@keyframes fadeInUp {
    0% { opacity: 0; transform: translateY(30px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInUp {
    0% { opacity: 0; transform: translateY(30px); }
    100% { opacity: 1; transform: translateY(0); }
}

.fade-in-up {
    animation: fadeInUp 0.7s ease-out forwards;
}

.fade-out-down {
    animation: fadeInUp 0.7s ease-out forwards;
}
