<div class="card bg-c-p br-3 {{class}}">
    <div class="header">
        {{header}}
    </div>
    <div class="body">
        {{body}}
    </div>
    <div class="footer">
        {{footer}}
    </div>
</div>