<div class="check_button c-w bg-c-p h-g-5 cu-p ta-c {{class}}" data-link="{{link}}">
    <label for="{{id}}">{{text}}</label><input id="{{id}}" name="{{id}}" class="d-n" type="checkbox" {{checked}}></input>
</div>