<template id="modal">
    <div id="modal_background" class="p-f w-f h-f d-f ai-c jc-c bg-c-b-t-20 zi-12">
        <div class="modal_frame w-g-10 br-3 bc-r-t-30 bs-s bw-1 background-glass fs-2 pa-2 ma-1">
            <div id="modal_header" class="fs-2">
            </div>
            <div id="modal_body">
            </div>
        </div>
    </div>
</template>