<div class="switch bg-c-b c-w">
    <input type="radio" id="theme-light" name="theme">
    <input type="radio" id="theme-auto" name="theme" checked>
    <input type="radio" id="theme-dark" name="theme">
    
    <div class="labels">
        <label for="theme-light">
            <i class="fa-solid fa-sun c-s"></i>
        </label>
        <label for="theme-auto">
            <i class="fa-solid fa-circle c-s"></i>
        </label>
        <label for="theme-dark">
            <i class="fa-solid fa-moon c-s"></i>
        </label>
    </div>
    <div class="slider bg-c-w"></div>
</div>