.button
{
	@extend .br-3;
    @extend .h-g-4;
    @extend .ta-c;

    transform: scale(1);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.button:hover.c-a
{
    @extend .bg-c-s-a;
    @extend .c-r;

    transform: scale(1.05);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

a.button
{
    @extend .d-f;
    @extend .ai-c;
    @extend .jc-c;
    text-decoration: none;
}