$red: nth($palette, 1);

form .field,
form .ck-field
{
    @extend .mb-2;
    @extend .br-4;
}

.ck-field
{
    @extend .w-f;
    @extend .c-b;
}

.ck-toolbar
{
    @extend .br-t-3;
}

.ck-content
{
    @extend .br-b-3;
    @extend .c-b;
}

.ck-toolbar__items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.field
{
    @extend .ai-c;
    @extend .w-f;
    @extend .p-r;
    display: flex;
}

.field span
{
    @extend .lh-4;
    @extend .p-a;
    @extend .h-f;
}

.field span,
.field div
{
    @extend .fs-#{$row_height - 1};
}

.field input[type=text],
.field input[type=password],
.field select
{
    @extend .w-f;
    @extend .h-f;
    @extend .c-a;
    @extend .ta-c;
    @extend .frame-inner-primary;
    @extend .fs-#{$row_height - 1};
}

.field .icon
{
    @extend .fs-#{$row_height - 1};
}

input[type=text],
input[type=password]
{
    @extend .b-a;
}

.field,
input[type=submit]
{
    @extend .h-g-#{$row_height + 1};
    @extend .fs-#{$row_height - 1};
}

input[type=text],
input[type=password],
select
{
    @extend .br-4;
    @extend .b-a;
}

.field input[type=text],
.field input[type=password],
.field select
{
    @extend .h-f;
}

.field input[type=text],
.field input[type=password],
.field input[type=text]:-internal-autofill-selected,
.field input[type=password]:-internal-autofill-selected,
.field select
{
    background-color: transparent !important;
}

input:-internal-autofill-selected,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
{
    background-color: red !important;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
	text-align: center;
    align-items: center;
    @extend .h-g-#{$row_height + 1};
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
.ck-placeholder
{
    @extend .c-g;
}

.valid-icon
{
    right: 0;
    color: $red;
}

.field.error input
{
	border-color: $red;
}

.field:not(.error) .valid-label
{
	visibility: hidden;
}

.ql-editor
{
    @extend .c-a;
}

.ql-toolbar,
.ql-container
{
    @extend .bc-a;
}