hr
{
    @media (prefers-color-scheme: light )
    {
        @include b-c-w-mixin();
    }
    @media (prefers-color-scheme: dark )
    {	
        @include b-c-b-mixin();
    }
}

.hr
{
    @extend .d-f;
    @extend .ai-c;
	@extend .c-a;
}

.hr::before,
.hr::after
{
	content: "";
	flex-grow: 1;
	height: 1px;
	line-height: 0px;
	margin: 0px 8px;
}

.hr::before,
.hr::after
{
    @media (prefers-color-scheme: light )
    {
        @if(color_type($primary) == 'warn')
        {
            background-color: $black;
        }
        @else
        {
            @include bg-c-mixin($color);
        }
    }
    @media (prefers-color-scheme: dark )
    {	
        @if(color_type($primary) == 'cool')
        {
			background-color: $white;
        }
        @else
        {
            @include bg-c-mixin($color);
        }
    }
}