.pill
{
	@extend .c-a;
	
	font-size: 13px;
	@extend .h-g-2;
	@extend .w-g-4;
	text-align: center;
	font-weight: 400;
	@extend .pl-1;
	@extend .pr-1;

	@extend .d-f;
	@extend .ai-c;
	@extend .jc-c;
}

.pill:not(.pill-left):not(.pill-right)
{
	@extend .br-2;
}

.pill-left
{
	@extend .pill;
	@extend .br-r-2;
}

.pill-right
{
	@extend .pill;
	@extend .br-l-2;
}