.spinner 
{
    border-style: solid;
    border-bottom-color: transparent !important;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: spinner-rotation 1s linear infinite;
}

@keyframes spinner-rotation
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
} 