$palette: gen_palette(12, $saturation, $lightness);

$primary: nth($palette, $color);
$secondary: $primary;
@if($color_combination == 'complement')
{
    $secondary: nth($palette, ($color + 6) % 12);
}

$bw_saturation: 10%;
$tint: 10%;

$white: hsl(hue($primary), $bw_saturation, 100% - $tint);
$gray: hsl(hue($primary), $bw_saturation, 50% - $tint);
$black: hsl(hue($primary), $bw_saturation, $tint);