@use 'sass:math';

@import '../tools/color';
@import '../vars/colors';

$warm: 'warm';
$cool: 'cool';

$shadow_width_dec: 15;
$shadow_width: $shadow_width_dec * 1%;

/*$primary: nth($palette, $color);
$secondary: $primary;
@if($color_combination == 'complement')
{
    $secondary: nth($palette, ($color + 6) % 12);
}*/

//$white: hsl(hue($primary), 30%, 95%);
//$black: hsl(hue($primary), 20%, math.div($shadow_width, 2));

.bg-c-t
{
    background-color: transparent;
}

.bg-c-w
{
    background-color: $white;
}

.bg-c-b
{
    background-color: $black;
}

.bg-c-p
{
    background-color: $primary;
}

.bg-c-s
{
    background-color: $secondary;
}

// auto
.bg-c-a
{
    @media (prefers-color-scheme: light )
    {
        background-color: $white;
    }
    @media (prefers-color-scheme: dark )
    {	
        background-color: $black;
    }
}

@for $step from 0 through 10
{
    .bg-c-a-a#{$step}
    {
        @media (prefers-color-scheme: light )
        {
            background-color: rgba($white, math.div($step,10));
        }
        @media (prefers-color-scheme: dark )
        {	
            background-color: rgba($black, math.div($step,10));
        }
    }
}

// reverse
.bg-c-r
{
    @media (prefers-color-scheme: light )
    {
        background-color: $black;
    }
    @media (prefers-color-scheme: dark )
    {	
        background-color: $white;
    }
}

@for $step from 0 through 20
{
    .bg-c-r-a#{$step * 5}
    {
        @media (prefers-color-scheme: light )
        {
            background-color: rgba($black, math.div($step,20));
        }
        @media (prefers-color-scheme: dark )
        {	
            background-color: rgba($white, math.div($step,20));
        }
    }
}

.bg-c-p-a
{
    background-color: $secondary;

    @media (prefers-color-scheme: light )
    {
        @if(color_type($secondary) == 'cool')
        {
            background-color: $primary;
        }
        @else
        {
            background-color: $secondary;
        }      
    }
    @media (prefers-color-scheme: dark )
    {	
        @if(color_type($secondary) == 'cool')
        {
            background-color: $secondary;
        }
        @else
        {
            background-color: $primary;
        }
    }
}

.bg-c-s-a
{
    background-color: $secondary;

    @media (prefers-color-scheme: light )
    {
        @if(color_type($secondary) == 'cool')
        {
            background-color: $secondary;
        }
        @else
        {
            background-color: $primary;
        }      
    }
    @media (prefers-color-scheme: dark )
    {	
        @if(color_type($secondary) == 'cool')
        {
            background-color: $primary;
        }
        @else
        {
            background-color: $secondary;
        }
    }
}

@mixin bg-c-p() 
{
    @include bg-c-mixin($primary)
}

body
{
    @media (prefers-color-scheme: light )
    {
        background-color: $white;
    }
    @media (prefers-color-scheme: dark )
    {	
        background-color: $black;
    }
}