@use 'sass:math';

@import '../vars/colors';
@import '../tools/color';

$shadow_width_dec: 18;
$shadow_width: $shadow_width_dec * 1%;

$primary: nth($palette, $color);
$secondary: $primary;
@if($color_combination == 'complement')
{
    $secondary: nth($palette, ($color + 6) % 12);
}

.test
{
    border-style: dashed;
}

/*$white: hsl(hue($primary), 10%, 97%);
$grey: hsl(hue($primary), 8%, 50%);
$black: hsl(hue($primary), 20%, math.div($shadow_width, 2));*/

.b-p
{
    border: 1px solid $primary;
}

.b-s
{
    border: 1px solid $secondary;
}

@mixin b-c-b-mixin() 
{
    border-color: black;
}

@mixin b-c-w-mixin() 
{
    border-color: white;
}

.b-c-b
{
    @include b-c-b-mixin();
}

.b-c-w
{
    @include b-c-w-mixin();
}

.b-a
{
    @media (prefers-color-scheme: light )
    {
        border: 1px solid white;
    }
    @media (prefers-color-scheme: dark )
    {	
        border: 1px solid $black;
    }
}

.bb-a
{
    @media (prefers-color-scheme: light )
    {
        border-bottom: 1px solid white;
    }
    @media (prefers-color-scheme: dark )
    {	
        border-bottom: 1px solid black;
    }
}