@use 'sass:math';

@import '../tools/color';

$warm: 'warm';
$cool: 'cool';

$shadow_width_dec: 15;
$shadow_width: $shadow_width_dec * 1%;

$primary: nth($palette, $color);
$secondary: $primary;
@if($color_combination == 'complement')
{
    $secondary: nth($palette, ($color + 6) % 12);
}
$white: hsl(hue($primary), 10%, 98%);
$grey: hsl(hue($primary), 8%, 50%);
$black: hsl(hue($primary), 20%, math.div($shadow_width, 2));

.b-c-w
{
    border-color: $white;
}

.b-c-b
{
    border-color: $black;
}

.b-c-p
{
    border-color: $primary !important;
}