@use 'sass:math';

@import '../tools/color';
@import '../vars/colors';

$warm: 'warm';
$cool: 'cool';

$shadow_width_dec: 10;
$shadow_width: $shadow_width_dec * 1%;

$primary: nth($palette, $color);
$secondary: nth($palette, $color);
@if($color_combination == 'complement')
{
    $secondary: nth($palette, ($color + 6) % 12);
}

//$white: hsl(hue($primary), 10%, 97%);
//$black: hsl(hue($primary), 20%, math.div($shadow_width, 2));

.c-b
{
    color: $black !important;
}

.c-g
{
    color: $gray;
}

.c-w
{
    color: $white;
}

.c-p
{
    color: $primary;
}

.c-s
{
    color: $secondary;
}

.c-p-a
{
    color: $secondary;

    @media (prefers-color-scheme: light )
    {
        @if(color_type($secondary) == 'cool')
        {
            color: $primary;
        }
        @else
        {
            color: $secondary;
        }      
    }
    @media (prefers-color-scheme: dark )
    {	
        @if(color_type($secondary) == 'cool')
        {
            color: $secondary;
        }
        @else
        {
            color: $primary;
        }
    }
}

.c-s-a
{
    color: $secondary;

    @media (prefers-color-scheme: light )
    {
        @if(color_type($secondary) == 'cool')
        {
            color: $secondary;
        }
        @else
        {
            color: $primary;
        }      
    }
    @media (prefers-color-scheme: dark )
    {	
        @if(color_type($secondary) == 'cool')
        {
            color: $primary;
        }
        @else
        {
            color: $secondary;
        }
    }
}

#content > .c-a,
#content > form .c-a,
.c-a
{
    @media (prefers-color-scheme: light )
    {
        color: $black;
    }
    @media (prefers-color-scheme: dark )
    {	
        color: $white;
    }
}

.bg-c-p.c-a,
.bg-c-a.c-a
{
    @if(color_type($primary) == 'warm')
    {
        color: $black;
    }
    @else
    {
        color: $white;
    }
}

.bg-c-a > .c-a
{
    @media ( prefers-color-scheme: light )
    {
        color: $black;   
    }
    @media ( prefers-color-scheme: dark )
    {
        color: $white;
    }
}

.c-r
{
    @media (prefers-color-scheme: light )
    {
        color: $white;
    }
    @media (prefers-color-scheme: dark )
    {	
        color: $black;
    }
}