@use 'sass:math';

.row
{
	flex-wrap: wrap !important;
	align-content: flex-start;
	@extend .o-h;
	@extend .jc-c;
	@extend .w-g-12;

	margin-left: auto;
	margin-right: auto;
}

.col-25
{
	width: 100vw * math.div(21, 13) * pow(math.div(13, 21), 4);
}

@media screen and (min-width: 100vh)
{
	.col-25
	{
		width: 100vh * math.div(21, 13) * pow(math.div(13, 21), 4);
	}
}

.col-50
{
	width: 100vw * math.div(21, 13) * pow(math.div(13, 21), 3);
}

@media screen and (min-width: 100vh)
{
	.col-50
	{
		width: 100vh * math.div(21, 13) * pow(math.div(13, 21), 3);
	}
}

.col-100
{
	width: 100vw * math.div(21, 13) * pow(math.div(13, 21), 1);
}

@media screen and (min-width: 100vh)
{
	.col-100
	{
		width: 100vh * math.div(21, 13) * pow(math.div(13, 21), 1);
	}
}