@use 'sass:math';

@import '../vars/colors';

$shadow_size: $gridSize;
$shadow_left: $gridSize * -1px;
$shadow_right: $gridSize * 1px;
$shadow_top: $gridSize * -1px;
$shadow_bottom: $gridSize * 1px;
$shadow_offset: calc($shadow_size / 2) * 1px;
$shadow_not: 0px;

$shadow_width_dec: 20;
$shadow_width: $shadow_width_dec * 1%;

$primary: nth($palette, $color);
$shadow_white: hsl(hue($primary), $bw_saturation, 100% - ($tint * 2));
$shadow_black: hsl(hue($primary), $bw_saturation, $tint * 2);

$white_shadow_second: #fff;
$white_shadow_first: $shadow_white;

$black_shadow_second: $shadow_black;
$black_shadow_first: #000;

$shadow_shift: 4px;
$shadow_blur: calc($shadow_size / 2) * 1px;
$shadow_spread: 0;

/* frame */
@mixin frame-white-mixin()
{
    box-shadow: $shadow_offset $shadow_offset $shadow_blur 0 $white_shadow_first,
                $shadow_offset * -1 $shadow_offset * -1 $shadow_blur 0 $white_shadow_second;
}
.shadow-white
{
    @include frame-white-mixin();
}

@mixin frame-black-mixin()
{
    box-shadow: $shadow_offset $shadow_offset $shadow_blur 0 $black_shadow_first,
                $shadow_offset * -1 $shadow_offset * -1 $shadow_blur 0 $black_shadow_second;
}
.shadow-black
{
    @include frame-black-mixin();
}

/* inner */
@mixin frame-inner-white-mixin()
{
    box-shadow: inset $shadow_offset $shadow_offset $shadow_blur $white_shadow_first,
    inset $shadow_offset * -1 $shadow_offset * -1 $shadow_blur $white_shadow_second;
}
.shadow-inner-white
{
    @include frame-inner-white-mixin();
}

@mixin frame-inner-black-mixin()
{
    box-shadow: inset $shadow_offset $shadow_offset $shadow_blur $black_shadow_first,
    inset $shadow_offset * -1 $shadow_offset * -1 $shadow_blur $black_shadow_second;
}
.shadow-inner-black
{
    @include frame-inner-black-mixin();
}



@mixin frame-inner-x-white-mixin()
{
    box-shadow: inset $shadow_offset $shadow_not $shadow_blur $white_shadow_first,
                inset $shadow_offset * -1 $shadow_not $shadow_blur $white_shadow_second;
}
.shadow-inner-x-white
{
    @include frame-inner-white-mixin();
}

@mixin frame-inner-x-black-mixin()
{
    box-shadow: inset $shadow_offset $shadow_not $shadow_blur $black_shadow_first,
                inset $shadow_offset * -1 $shadow_not $shadow_blur $black_shadow_second;
}
.shadow-inner-x-black
{
    @include frame-inner-white-mixin();
}