/* Sizes */



.h-f
{
	height: 100%;
}

.w-v-f
{
	width: 100vw;
}

.h-v-f
{
	height: 100vh;
}

.m-h-f
{
	min-height: 100%;
}

.w-f-g,
.w-m
{
	width: 100vh;
}

.h-vh
{
	max-height: 100vh;
}

.h-f-g,
.h-m
{
	height: 100vh;
}