@use 'sass:math';

@import '../tools/palette';
@import '../tools/color';
@import '../vars/colors';


/* Background color */

$palette: gen_palette(12, $saturation, $lightness);
@each $color in $palette
{
    $index: index($palette, $color);
    
    .bg-c-#{$index}
    {
        background-color: nth($palette, $index);
    }
}

@mixin bg-c-mixin($index)
{
    background-color: nth($palette, $index);
}

@mixin bg-c-b-t($step)
{
    background-color: rgba($black, $step * 0.05);
}

@mixin bg-c-w-t($step)
{
    background-color: rgba($white, $step * 0.05);
}

@for $step from 0 through 20
{
	.bg-c-b-t-#{$step * 5}
	{
        @include bg-c-b-t($step);
	}

    .bg-c-w-t-#{$step * 5}
	{
        @include bg-c-w-t($step);
	}

    .bg-c-a-t-#{$step * 5}
	{
        @media (prefers-color-scheme: light )
        {
            @include bg-c-w-t($step);
        }

        @media (prefers-color-scheme: dark )
        {	
            @include bg-c-b-t($step);
        }
	}

    .bg-c-r-t-#{$step * 5}
	{
        @media (prefers-color-scheme: light )
        {
            @include bg-c-b-t($step);
        }

        @media (prefers-color-scheme: dark )
        {	
            @include bg-c-w-t($step);
        }
	}
}