@use 'sass:math';

@import '../tools/math';

$phi: math.div((math.sqrt(5) + 1), 2);

@for $step from 1 through 12
{
	/* full */
    .br-#{$step}
    {
        border-radius: $font_size * $phi * math.div(pow($phi, $step - 1), $phi) !important;
    }

	/* edges */
    .br-l-#{$step}
	{
		border-radius: $font_size * $phi * math.div(pow($phi, $step - 1), $phi) 0 0 $font_size * $phi * math.div(pow($phi, $step - 1), $phi) !important;
	}

	.br-r-#{$step}
	{
		border-radius: 0 $font_size * $phi * math.div(pow($phi, $step - 1), $phi) $font_size * $phi * math.div(pow($phi, $step - 1), $phi) 0 !important;
	}

	.br-t-#{$step}
	{
		border-radius: $font_size * $phi * math.div(pow($phi, $step - 1), $phi) $font_size * $phi * math.div(pow($phi, $step - 1), $phi) 0 0 !important;
	}

	.br-b-#{$step}
	{
		border-radius: 0 0 $font_size * $phi * math.div(pow($phi, $step - 1), $phi) $font_size * $phi * math.div(pow($phi, $step - 1), $phi) !important;
	}

	/* corners */
	.br-tl-#{$step}
	{
		border-radius: $font_size * $phi * math.div(pow($phi, $step - 1), $phi) 0 0 0 !important;
	}

	.br-br-#{$step}
	{
		border-radius: 0 0 $font_size * $phi * math.div(pow($phi, $step - 1), $phi) 0 !important;
	}
}