.bs-d
{
    border-style: dashed;
}

.bs-do
{
    border-style: dotted;
}

.bs-dou
{
    border-style: double;
}

.bs-g
{
    border-style: groove;
}

.bs-h
{
    border-style: hidden;
}

.bs-i
{
    border-style: inherit;
}

.bs-in
{
    border-style: initial;
}

.bs-ins
{
    border-style: inset;
}

.bs-n
{
    border-style: none;
}

.bs-o
{
    border-style: outset;
}

.bs-r
{
    border-style: ridge;
}

.bs-s
{
    border-style: solid;
}

.bs-u
{
    border-style: unset;
}

.bls-s
{
    border-left-style: solid;
}

.brs-s
{
    border-right-style: solid;
}

.bts-s
{
    border-top-style: solid;
}

.bbs-s
{
    border-bottom-style: solid;
}