@use 'sass:math';

@import '../tools/palette';
@import '../tools/color';
@import '../vars/colors';

@mixin bc-b-t($step)
{
    border-color: rgba($black, $step * 0.05);
}

@mixin bc-w-t($step)
{
    border-color: rgba($white, $step * 0.05);
}

@for $step from 0 through 20
{
	.bc-b-t-#{$step * 5}
	{
        @include bc-b-t($step);
	}

    .bc-w-t-#{$step * 5}
	{
        @include bc-w-t($step);
	}

    .bc-a-t-#{$step * 5}
	{
        @media (prefers-color-scheme: light )
        {
            @include bc-w-t($step);
        }

        @media (prefers-color-scheme: dark )
        {	
            @include bc-b-t($step);
        }
	}

    .bc-r-t-#{$step * 5}
	{
        @media (prefers-color-scheme: light )
        {
            @include bc-b-t($step);
        }

        @media (prefers-color-scheme: dark )
        {	
            @include bc-w-t($step);
        }
	}
}

@media (prefers-color-scheme: light )
{
    .bc-a
    {
        border-color: $black !important;
    }
}

@media (prefers-color-scheme: dark )
{	
    .bc-a
    {
        border-color: $white !important;
    }
}