@use 'sass:math';

$shadow_size: 1;
$shadow_offset: 0.5;

$shadow_width_dec: 30;
$shadow_width: $shadow_width_dec * 1%;

$primary: nth($palette, $color);
$white: hsl(hue($primary), 10%, 97%);
$grey: hsl(hue($primary), 8%, 50%);
$black: hsl(hue($primary), 20%, math.div($shadow_width, 2));

.bs-b-1
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}