@import '../tools/palette';

/* Text color */

$palette: gen_palette(12, $saturation, $lightness);
@each $color in $palette
{
    $index: index($palette, $color);
    .c-#{$index}
    {
        color: nth($palette, $index) !important;
    }
}