.jc-s
{
	justify-content: start;
}

.jc-c
{
	justify-content: center;
}

.jc-sb
{
	justify-content: space-between;;
}

.jc-sa
{
	justify-content: space-around;
}

.jc-se
{
	justify-content: space-evenly;
}

.jc-e
{
	justify-content: end;
}