@use 'sass:math';

@import '../tools/math';

.m-o
{
	margin: auto;
}

.ma-0
{
    margin: 0 !important;
}

.mb-0
{
    margin-bottom: 0;
}

.mt-0
{
    margin-top: 0;
}

.ml-0
{
    margin-left: 0;
}

.mr-0
{
    margin-right: 0;
}

.mb-a
{
    margin-bottom: auto;
}

.mt-a
{
    margin-top: auto;
}

.ml-a
{
    margin-left: auto;
}

.mr-a
{
    margin-right: auto;
}

@for $step from 1 through 12
{
    .ma-#{$step}
    {
        margin: $font_size * $phi * math.div(pow($phi, $step - 1), $phi) !important;
    }

    .mb-#{$step}
    {
        margin-bottom: $font_size * $phi * math.div(pow($phi, $step - 1), $phi);
    }

    .mt-#{$step}
    {
        margin-top: $font_size * $phi * math.div(pow($phi, $step - 1), $phi);
    }

    .ml-#{$step}
    {
        margin-left: $font_size * $phi * math.div(pow($phi, $step - 1), $phi);
    }

    .mr-#{$step}
    {
        margin-right: $font_size * $phi * math.div(pow($phi, $step - 1), $phi);
    }

    .mt--#{$step}
    {
        margin-top: -1 * $font_size * $phi * math.div(pow($phi, $step - 1), $phi);
    }
}