@media (max-width: 768px)
{
    .ov-v
    {
        overflow: visible;
    }

    .ov-h
    {
        overflow: hidden
    }

    .ov-c
    {
        overflow: clip;
    }

    .ov-s
    {
        overflow: scroll;
    }

    .ov-a
    {
        overflow: auto;
    }
}

@media (min-width: 769px) {
    .pc\:ov-v
    {
        overflow: visible;
    }

    .pc\:ov-h
    {
        overflow: hidden
    }

    .pc\:ov-c
    {
        overflow: clip;
    }

    .pc\:ov-s
    {
        overflow: scroll;
    }

    .pc\:ov-a
    {
        overflow: auto;
    }
}


