@use 'sass:math';

@import '../tools/math';

$phi: math.div((math.sqrt(5) + 1), 2);
$width: 100vw;

.pa-0
{
    padding: 0 !important;
}

.pb-0
{
    padding-bottom: 0;
}

.pt-0
{
    padding-top: 0;
}

.pl-0
{
    padding-left: 0;
}

.pr-0
{
    padding-right: 0;
}

@for $step from 1 through 12
{
    .pa-#{$step}
    {
        padding: $font_size * $phi * math.div(pow($phi, $step - 1), $phi) !important;
    }

    .pb-#{$step}
    {
        padding-bottom: $font_size * $phi * math.div(pow($phi, $step - 1), $phi) !important;
    }

    .pt-#{$step}
    {
        padding-top: $font_size * $phi * math.div(pow($phi, $step - 1), $phi);
    }

    .pl-#{$step}
    {
        padding-left: $font_size * $phi * math.div(pow($phi, $step - 1), $phi) !important;
    }

    .pr-#{$step}
    {
        padding-right: $font_size * $phi * math.div(pow($phi, $step - 1), $phi) !important;
    }

    .pt--#{$step}
    {
        padding-top: -1 * $font_size * $phi * math.div(pow($phi, $step - 1), $phi);
    }
}