@use 'sass:list';

$full_white: #FFF;
$full_black: #000;

$red: hsl(0deg, $saturation, $lightness);
$orange: hsl(30deg, $saturation, $lightness);
$yellow: hsl(60deg, $saturation, $lightness);
$yellow_green: hsl(90deg, $saturation, $lightness);
$green: hsl(120deg, $saturation, $lightness);
$green_cyan: hsl(150deg, $saturation, $lightness);
$cyan: hsl(180deg, $saturation, $lightness);
$cyan_blue: hsl(210deg, $saturation, $lightness);
$blue: hsl(240deg, $saturation, $lightness);
$purple: hsl(270deg, $saturation, $lightness);
$magenta: hsl(300deg, $saturation, $lightness);
$magenta_red: hsl(330deg, $saturation, $lightness);

$palette: ($red, $orange, $yellow, $yellow_green, $green, $green_cyan, $cyan, $cyan_blue, $blue, $purple, $magenta, $magenta_red);