@use 'sass:math';

@for $step from 0 through 11
{
	.rg-g-#{12-$step}
	{
		row-gap: 100vw * math.div(21, 13) * pow(math.div(13, 21), $step + 1);
	}

	@media screen and (min-width: 100vh)
	{
		.rg-g-#{12-$step}
		{
			row-gap: 100vh * math.div(21, 13) * pow(math.div(13, 21), $step + 1);
		}
	}
}