@for $step from -10 through 10
{
    .t-t-h-#{$step*1}
    {
        transform: translate(0px, $gridSize * -7px);
    }
}

.t-t-h--f
{
    transform: translate(0, -100%);
}

.t-t-h-0
{
    transform: translate(0, 0);
}

.t-t-h-f
{
    transform: translate(0, 100%);
}