@use 'sass:math';

@import '../tools/math';

    @for $step from 1 through 12
	{
		.w-g-#{$step}
		{
			width: $font_size * $phi * math.div(pow($phi, $step - 1), $phi);
		}
	}

	.w-f
	{
		width: 100%;
	}

@media (min-width: 769px) {
	@for $step from 1 through 12
	{
		.pc\:w-g-#{$step}
		{
			width: $font_size * $phi * math.div(pow($phi, $step - 1), $phi) !important;
		}

		.pc\:w-f
		{
			width: 100%;
		}
	}
}