.burger-menu label .icon
{
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger-menu input[type=checkbox]:checked + ul + label .icon
{
    transform: rotate(90deg); 
}
  
.burger-menu input[type=checkbox]:checked + ul
{
    transform: translateX(0);
    display: flex;
}

.burger-menu ul 
{
    display: none;
    position: absolute;
    padding-left: 0;
    transform: translateX(100%);
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    @extend .mt-5;
    @extend .pt-5;
    @extend .o-v;
    @extend .bg-c-a;
    @extend .c-a;
}
  

@media only screen and (min-width: 768px) 
{
    .burger-menu .burger-button
    {
        display: none;
    }

    .burger-menu .burger-items
    {
        display: flex;
    }

    .burger-menu ul 
    {
        background-color: transparent;
        position: static;
        transform: none;
        transition: none;
        display: flex;
        height: auto;
        width: auto;
        left: auto;
        top: auto;
        padding-top: 0;
        margin-top: 12.5px;

        flex-direction: row;
    }
    
}