@import 'tools/google-font';

/* CSS Reset */

@font-face 
{
	font-family: '#{$main_font}';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: load_font(#{$main_font}, 400);
}

@font-face 
{
	font-family: '#{$main_font}';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: load_font(#{$main_font}, 700);
}

@font-face 
{
	font-family: '#{$title_font}';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: load_font(#{$title_font}, 400);
}

@font-face 
{
	font-family: '#{$title_font}';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: load_font(#{$title_font}, 700);
}

body,
body * {
	font-family: $main_font;
	/*font-weight: 400;*/
	@extend .fs-1;
	@extend .lh-2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $title_font;
	text-align: center;
	margin: 0;

	@extend .fs-2;
	@extend .lh-3;
}

p
{
	@extend .mt-2;
	@extend .mb-2;
	@extend .ta-j;
}

html
{
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	@extend .d-f;
	@extend .o-v;
}

a {
	text-decoration: none;
}

ul li
{
	@extend .d-f;
}