@function load_font($name, $weight)
{
    @if($name == 'Montserrat' and $weight == 400 ){
        @return url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
    }
    @if($name == 'Montserrat' and $weight == 700 ){
        @return url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');;
    }
    @if($name == 'Lato' and $weight == 400 ){
        @return url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
    }
    @if($name == 'Lato' and $weight == 700 ){
        @return url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
    }
    @return '';
}