@function gen_palette($count, $saturation, $lightness)
{
    $palette: ();
 
    @for $step from 0 through $count - 1
    {
        $color: hsl( (0deg + $step * 30deg + $offset) % 360deg, $saturation, $lightness);
        
        $palette: append($palette, $color);
    }
    @return $palette;
}

